In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_odi_main = pd.read_csv('Dateset_ODI.csv')

In [3]:
df_odi = df_odi_main.copy()

In [4]:
df_odi.head()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
3,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
4,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"

In [5]:
df_odi.isnull().sum()

Scorecard       0
Team 1          0
Team 2          0
Winner          0
Margin        179
Ground          0
Match Date      0
dtype: int64

In [7]:
df_odi = df_odi.fillna('NA')

In [9]:
df_odi.isnull().sum()

Scorecard     0
Team 1        0
Team 2        0
Winner        0
Margin        0
Ground        0
Match Date    0
dtype: int64

In [11]:
df_odi.duplicated().sum()

0

In [15]:
df_odi['Ground'].value_counts()

Sharjah       228
Dhaka         156
Sydney        154
Melbourne     147
Harare        136
             ...
Mackay          1
Hove            1
Nairobi         1
Launceston      1
Kwekwe          1
Name: Ground, Length: 173, dtype: int64

In [16]:
df_sharjah = df_odi[df_odi['Ground'] == 'Sharjah']

df_sharjah['Winner'].value_counts()

Pakistan        83
India           35
Sri Lanka       29
West Indies     19
Australia       14
South Africa    10
New Zealand      9
Afghanistan      9
England          8
Zimbabwe         8
tied             2
Netherlands      1
Canada           1
Name: Winner, dtype: int64

In [18]:
df_odi['Match Date'].value_counts()

Feb 4, 2007     6
Jun 20, 1983    4
Jul 10, 2010    4
Jun 18, 1983    4
Feb 2, 2007     4
               ..
Jan 13, 2003    1
Nov 11, 1998    1
Jun 12, 2015    1
Jan 23, 1986    1
Nov 9, 2008     1
Name: Match Date, Length: 3386, dtype: int64

In [19]:
df_aus = df_odi[df_odi['Winner'] == 'Australia']

df_aus['Ground'].value_counts()

Sydney        85
Melbourne     74
Adelaide      34
Perth         29
Brisbane      23
              ..
Faisalabad     1
Benoni         1
New Delhi      1
Belfast        1
Chandigarh     1
Name: Ground, Length: 97, dtype: int64

In [22]:
df_winner_team2 = df_odi[df_odi['Winner'] == df_odi['Team 2']]

In [23]:
df_winner_team2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1637 entries, 2 to 3927
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Scorecard   1637 non-null   object
 1   Team 1      1637 non-null   object
 2   Team 2      1637 non-null   object
 3   Winner      1637 non-null   object
 4   Margin      1637 non-null   object
 5   Ground      1637 non-null   object
 6   Match Date  1637 non-null   object
dtypes: object(7)
memory usage: 102.3+ KB

In [25]:
df_lords = df_odi[df_odi['Ground'] == 'Lord\'s']

df_lords['Winner'].value_counts()

England         23
Australia       12
West Indies      6
India            4
Pakistan         4
Sri Lanka        4
New Zealand      3
tied             2
South Africa     1
no result        1
Name: Winner, dtype: int64

In [26]:
x = 1

for i in range(1,10,2):

    print(x*i)

1
3
5
7
9

In [28]:
a = np.array([['m', '2'],['n','3']])

a[0,1]

'2'